.buttonLM {
    border-radius: 15%;
    border-color:mediumslateblue ;
    background-color: mediumslateblue;
    color: white;
}
.digital{
    font-size: 75px;
    color: #006699;
}
.marketing{

    color: orange;
}

