.buttonLM {
    padding:0.6em 2em;
    border-radius: 8px;
    color:#fff;
    background-color:#1976d2;
    font-size:1.1em;
    border:0;
    cursor:pointer;
    margin:1em;
}
.digital{
    font-size: 75px;
    color: #006699;
}
.marketing{

    color: orange;
}
.h2magneto{
    color:dodgerblue ;
}
.h1magneto{

    color:dodgerblue ;
    text-align: center;
    padding-bottom: 20px;
}
.pmagneto{
    color: #4a5568;
}
.h1about{
    color:dodgerblue ;
    text-align: center;
    padding-bottom: 20px;
}
.h2contact{
    text-align: center;
    padding-bottom: 20px;
}
