.buttonLM {
    border-radius: 15%;
    border-color:mediumslateblue ;
    background-color: mediumslateblue;
    text-decoration: white;
}
.digital{
    color: #006699;
}
.marketing{
    color: orange;
}

